.profile-picture {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-message, .alpgtr-message {
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    max-width: 90%; 
    display: flex;
    align-items: center;
    text-align: left;
  }
  
  .user-message {
    background-color: #2c2c2c; 
    color: #fff;
    align-self: flex-start;
    flex-direction: row;
    margin-right: auto;
  }
  
  .alpgtr-message {
    background-color: rgba(46, 204, 113, 0.2); 
    color: #fff;
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-left: auto;
  }
  
  .message-text {
    padding: 10px;
    margin-bottom: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    max-width: 100%;
    position: relative;
    text-align: left; 
  }
  
  .message-text img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .user-message .message-text {
    color: #ecf0f1;
  }
  
  .alpgtr-message .message-text {
    color: #ecf0f1;
  }
  
  .user-message p, .alpgtr-message p {
    margin: 0;
    flex: 1;
  }
  
  .user-message .message-text:after, .alpgtr-message .message-text:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border: 10px solid transparent;
  }
  
  .user-message .message-text:after {
    border-right-color: #2c2c2c; 
    border-left: 0;
    right: -20px;
  }
  
  .alpgtr-message .message-text:after {
    border-left-color: rgba(46, 204, 113, 0.2); 
    border-right: 0;
    left: -20px;
  }  